<div class="mt-4"> 
    {{!-- <form method="get" action="/news"> GỌI GET TỚI URL /NEWS --}}
    <form method="POST" action="">
    <div class="form-group">
        <label for="search-input">Từ khóa</label>
        <input type="text" name = "q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập từ khóa">
        <input type="text" name = "fullname">
        <input type="text" name="tuoi">
    </div>
   
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>   